.containar{
  display: flex;

}
.cotent{
  width: 100%;
}
.target{
  min-height: 800px;
}
.post-card{
  margin: 30px;
  
  width: 900px;
}

.hastag{
  margin-right: 10px;
}
.alert{
  margin-top: 10px;
}
.Form{
  width: 60%;
  margin-left: 10%;
  margin-top: 70px;
}